


<div class="container">
    <div class="row justify-content-md-center">

        <div class="col-8">
            <div class=" text-white my-5">
                <h1 class="display-3 text-center">Baslık</h1>
                <p>

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lectus nisl,
                    viverra sit amet nisi eget, ultrices sollicitudin nulla. Fusce accumsan lobortis purus non egestas.
                    Praesent quis faucibus eros, sed imperdiet dolor. Ut quis diam non nibh sollicitudin pulvinar sed non enim
                    . Maecenas sagittis ligula odio, vitae imperdiet quam congue at. Fusce porttitor tortor eget imperdiet dignissim.
                    Proin et ligula leo. Phasellus vel nisl nec felis scelerisque lacinia. Morbi vitae dui vel lacus pretium lobortis condimentum nec tellus.
                    Ut feugiat augue sit amet fermentum gravida. In ornare diam eget dolor auctor aliquet. Phasellus et erat vel orci mollis feugiat.
                    Ut id eros eu dolor elementum dictum.Phasellus vitae consectetur elit, tincidunt fringilla mi. Mauris placerat placerat ipsum eu congue.
                    Sed nunc diam, feugiat non nisi at, imperdiet tincidunt arcu.

                </p>
            </div>
        </div>

    </div>
</div>
